.outer-face {
  background-color: rgb(17, 184, 217);

  width: 330px;
  height: 330px;

  border-radius: 50%;
  border: 50px;
  border: solid rgb(15, 100, 192);

  margin: 300px 475px auto auto;
  align-items: center;
  position: relative;
}

.inner-face {
  position: absolute;
  bottom: -1%;
  left: 5%;

  border: 20px solid white;
  width: 80%;
  height: 80%;
  background: white;
  border-radius: 50%;
}

.eye1 {
  position: absolute;
  left: 28%;
  top: 1%;
  border: 3px solid blue;
  width: 20%;
  height: 30%;
  border-radius: 50%;
  background: white;
}

.eye2 {
  position: absolute;
  left: 49%;
  right: 9%;
  border: 3px solid blue;
  width: 20%;
  height: 30%;
  border-radius: 50%;
  background: white;
}

.pupil1 {
  position: absolute;
  background-color: white;
  height: 10px;
  width: 10px;
  border: 10px solid rgb(0, 0, 0);
  border-radius: 50%;
  margin-left: 23px;
  margin-top: 28px;
}

.pupil2 {
  position: absolute;
  background-color: white;
  height: 10px;
  width: 10px;
  border: 10px solid rgb(0, 0, 0);
  border-radius: 50%;
  margin-left: auto;
  margin-top: 31px;
}

.nose {
  position: absolute;
  background-color: red;
  height: 52px;
  width: 55px;
  /* border-style: dotted; */
  border-radius: 50%;
  margin-left: 104px;
  margin-top: 79px;
}
.nose-flare {
  position: absolute;
  background: rgb(255, 255, 255);
  width: 10px;
  height: 10px;
  margin-top: 16px;
  margin-left: 36px;
  border-radius: 68%;
}
.line-on-face {
  position: absolute;
  width: 3px;
  height: 224%;
  background-color: black;
  border-radius: 30%;
  margin-left: 24px;
  margin-right: auto;
  margin-top: 52px;
}
.smile {
  position: absolute;
  border: 4px solid gray;
  width: 200px;
  height: 200px;
  border-color: transparent transparent rgb(20, 99, 189) rgb(20, 99, 189);
  top: -67%;
  left: -137%;
  border-radius: 50%;
  transform: rotate(-45deg);
}
/* 
.righth1 {
  position: absolute;
  border: 30px solid black;
   display: inline; 
   width: 148px;
  height: 4px;
  top: 68%;
  left: 39%;
  padding: 0;
  border: 0px; 
   color: aqua; 
   border-color: rgb(0, 0, 0) transparent transparent transparent; 
  background-color: rgb(21, 21, 21);
   border-color: transparent transparent blanchedalmond blueviolet;  
  
  border-radius: 50%/10%;
  transform: rotate(-10deg);
}
 
.righth2 {
  position: absolute;
  border: 23px solid black;
   display: inline; 
   width: 148px;
  height: 4px;
  top: 112%;
  left: 52%;
  border: 0px;
  background-color: rgb(20, 20, 20); 
   border-color: transparent transparent blanchedalmond blueviolet; 
   border-color: rgb(0, 0, 0) transparent transparent transparent; 

  border-radius: 50%/10%;
  transform: rotate(-10deg);
} 

.righth3 {
  position: absolute;
  border: 23px solid black;
  display: inline;
  width: 113px;
  height: 20px;
  top: 49%;
  left: 97%;
  border: 0px;
  background-color: rgb(164, 80, 80);
   border-color: transparent transparent blanchedalmond blueviolet; 
   border-color: rgb(0, 0, 0) transparent transparent transparent;

  border-radius: 50%/10%;
  transform: rotate(-10deg);
} 

 .righth3{
  position: absolute;
  border: #0837a3 6px solid;
  width: 150px;
  height: 150px;
  top: 49%;
  right: 65%;
  border-color: #0837a3 transparent transparent transparent;
  border-radius: 50%/10%;
}


.left1 {
  position: absolute;
  border: 23px solid black;
  display: inline;
  width: 148px;
  height: 4px;
  top: 112%;
  left: 52%;
  border: 0px;
  background-color: rgb(164, 80, 80);
   border-color: transparent transparent blanchedalmond blueviolet; 
   border-color: rgb(0, 0, 0) transparent transparent transparent;

  border-radius: 50%/10%;
  transform: rotate(-10deg);
} 

 .left2 {
  position: absolute;
  border: 23px solid black;
  display: inline;
  width: 148px;
  height: 4px;
  top: 112%;
  left: 52%;
  border: 0px;
  background-color: rgb(164, 80, 80); 
   border-color: transparent transparent blanchedalmond blueviolet; 
   border-color: rgb(0, 0, 0) transparent transparent transparent;

  border-radius: 50%/10%;
  transform: rotate(-10deg);
} 

.left3 {
  position: absolute;
  border: 23px solid black;
  display: inline;
  width: 148px;
  height: 4px;
  top: 112%;
  left: 52%;
  border: 0px;
  background-color: rgb(164, 80, 80); 
   border-color: transparent transparent blanchedalmond blueviolet; 
   border-color: rgb(0, 0, 0) transparent transparent transparent;

  border-radius: 50%/10%;
  transform: rotate(-10deg);
}
   */

/* .nectape{
  background-color:red;
  width:50px;
  height:60px;
}
 */


